* {
  margin: 0;
  padding: 0;
}
.main-block-position,.section{
  border: 4px solid #569092;
  border-radius: 15px;
}
.headblock-position,input,.greenblock-position,.greenblock-position,.section{
  position: absolute;
}
.section:nth-child(n){
  text-align: center;
}
.section:nth-child(4n+1){
  left: 18px;
}
.section:nth-child(4n+2){
  left: 100px;
}
.section:nth-child(4n+3){
  left: 186px;
}
.section:nth-child(4n+4){
  left: 276px;
}
.section:nth-child(1),.section:nth-child(2),.section:nth-child(3),.section:nth-child(4){
  top: 193px;
}
.section:nth-child(5),.section:nth-child(6),.section:nth-child(7),.section:nth-child(8){
  top: 283px;
}
.section:nth-child(9),.section:nth-child(10),.section:nth-child(11),.section:nth-child(12){
  top: 370px;
}
.section:nth-child(13),.section:nth-child(14),.section:nth-child(15),.section:nth-child(16){
  top: 457px;
}

.main-block-position {
  position: relative;
  width: 375px;
  height: 573px;
  margin: 50px;
}
.headblock-position {
  left: 0px;
  top: 18px;
  width: 378px;
  height: 50px;
  background: #569092;
}
p {
  margin: 10px 10px 0 0;
  color: #ebf4fa;
  font-size: 20px;
  text-align: right;
}
input {
  top: 70px;
  left: 10px;
  width: 349px;
  height: 42px;
  border: 3px solid #569092;
  border-radius: 10px;
}
.greenblock-position {
  top: 130px;
  right: 13px;
  width: 100px;
  height: 45px;
  background: #5f9c9d;
}
.section {
  width: 64px;
  height: 64px;
}
.section:hover{
  cursor: pointer;
}
.section:active{
  background: #569092;
}
span{
  position: relative;
  top: 26%;
  font-size: 25px;
}