*{
margin:0;
box-sizing:border-box;
}
.header{
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid white;
}
.header__body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0 auto;
}
.header__navigation{
    display: inline-block;
}
.header__navigation a{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-decoration: none;
    margin: 0 10px;
}
.header__navigation a:hover{
    color: orange;
    font-weight: bold;
}
.workshop{
    width: 100%;
    height: 900px;
    background: url("../img/genshin-impact-li-iue-vanshu-noch-gory-nebo.jpg");
    background-attachment: fixed;
    background-size: 100%;
}
.workshop__tasks{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 80%;
    height: 70%;
    background: rgba(0, 0, 0, 0.6);
}
.workshop__tasks a{
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    width: 80px;
    height: 40px;
    margin: 0 10px;
    border: 3px solid orange;
    border-radius: 10%;
    background: silver;
    text-decoration: none;
    color: white;
    font-size:20px;
}
h1{
    padding-top: 82px;
    text-align: center;
    color:white;
}
